.props{
    @extend %off-list;
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &:not(:first-child){
            margin-top: 3.6rem;
        }
        &:after{
            content: '';
            flex: 1 1 0;
            border-top: 1px dotted currentColor;
            margin: 0 1.5rem;
        }
    }
    &__name,&__value{
        max-width: 50%;
        flex: 0 1 auto;
        white-space: nowrap;
    }
    &__value{
        order: 3;
        text-align: right;
        display: inline;
        
    }
}