mixin chat-message(message)
  .chat-message&attributes(attributes)
    .chat-message__author
        .chat-author
    .chat-message__message
      block
mixin chat
  .chat-wrapper
    .chat
      .chat-messages
        .chat-messages__list
          .chat-messages__item
            +chat-message
              | Это означает, что в Вашем доме, офисе, кабинете, мастерской хранятся ценности бóльшие, чем просто деньги или драгоценности, - культурные ценности. Произведения искусства, антиквариат, иные предметы коллекционирования – все это имущество, безусловно высокая стоимость которого. 
            +chat-message.chat-message_self
              | Это означает,
            +chat-message
              | доме, офисе, кабинете, мастерской
          .chat-date 21 октября 2017
          .chat-messages__item
            +chat-message.chat-message_self
              | Это означает,
            +chat-message
              | доме, офисе, кабинете, мастерской
              | доме, офисе, кабинете, мастерской
          .chat-date 21 октября 2017
          .chat-messages__item
            +chat-message.chat-message_self
              | Это означает,
            +chat-message
              | доме, офисе, кабинете, мастерской
      .chat-send
        form(action="#").chat-send__form
          textarea.chat-send__textarea(name="chat-message") Cowkeifjowefwehifuhqiwuehfqwef wef
          button(type="submit").chat-send__submit Отправить